@config "../../tailwind.config.ts";
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: 205 28% 11%;
    --foreground: 0 0% 98%;
    --card: 205 28% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 205 28% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 205 28% 11%;
    --secondary: 0 85% 57%;
    --secondary-foreground: 0 0% 98%;
    --muted: 205 28% 30%;
    --muted-foreground: 0 0% 75%;
    --accent: 0 85% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 28% 25%;
    --input: 205 28% 25%;
    --ring: 0 85% 57%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.625rem;
    --sidebar-background: 205 28% 11%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 85% 57%;
    --sidebar-primary-foreground: 205 28% 11%;
    --sidebar-accent: 205 28% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 205 28% 25%;
    --sidebar-ring: 0 85% 57%;
  }

  .dark {
    --background: 205 28% 11%;
    --foreground: 0 0% 98%;
    --card: 205 28% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 205 28% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 205 28% 11%;
    --secondary: 0 85% 57%;
    --secondary-foreground: 0 0% 98%;
    --muted: 205 28% 30%;
    --muted-foreground: 0 0% 75%;
    --accent: 0 85% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 28% 25%;
    --input: 205 28% 25%;
    --ring: 0 85% 57%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 205 28% 11%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 85% 57%;
    --sidebar-primary-foreground: 205 28% 11%;
    --sidebar-accent: 205 28% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 205 28% 25%;
    --sidebar-ring: 0 85% 57%;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-geist), ui-sans-serif, system-ui, sans-serif;
  }
}

 /* Apply thin scrollbar styles */
  html::-webkit-scrollbar-track {
    background: transparent;
  }

  html::-webkit-scrollbar-thumb {
    background-color: hsl(201, 95%, 31%);
    border-radius: 4px;
  }

  html::-webkit-scrollbar-thumb:hover {
    background-color: hsl(201, 95%, 41%);
  }

  /* For Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: hsl(201, 95%, 31%) transparent;
  }

  /* Custom scrollbar styles */
  .custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(201, 95%, 31%) transparent;
  }

  /* For Webkit browsers (Chrome, Safari, Edge) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(201, 95%, 31%);
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(201, 95%, 41%);
  }


/* Custom scrollbar styles for x */
  .custom-x-scrollbar {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(201, 95%, 31%) transparent;
  }

  /* For Webkit browsers (Chrome, Safari, Edge) */
  .custom-x-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-x-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-x-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(201, 95%, 31%);
    border-radius: 4px;
  }

  .custom-x-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(201, 95%, 41%);
  }


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}